{% extends 'base.html' %}

{% block title %}Time Limited Demo{% endblock %}

{% block head %}
<style>
  .hero {
    background-image: url("{{ url_for('static', filename='images/background.png') }}");
    background-size: cover;
    background-position: center;
  }

  .hero-content {
    background-color: rgba(0, 0, 0, 0.6);
  }
</style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col pb-3">
    <div class="hero rounded-3 border shadow-sm">
      <div class="hero-content rounded-3 row flex-lg-row-reverse align-items-center mx-0 px-4 py-5">
        <div class="col-12 col-lg-6">
          <img src="{{ url_for('static', filename='images/game-logo.png') }}" class="d-block mx-lg-auto img-fluid"
            alt="Path of Hero Logo" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3 text-light">Time Limited Demo</h1>
          <p class="lead text-light">Test your skills and tryout features in our time limited demo. Download
            now!
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a class="btn btn-primary btn-lg px-4 me-md-2"
              href="{{ url_for('static', filename='releases/poh-limited-demo.zip') }}">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-12 pb-3 text-center">
    <h1 class="display-5">Statistics</h1>
    <p class="fs-5 text-muted">
      This demo will collect play session data for game balancing purposes.<br>
      Thank you for taking part in inproving the game!
    </p>
    <a class="btn btn-primary btn-lg2" href="{{ url_for('stats.index') }}">View detailed statistics</a>
  </div>
  <div class="col-12 pb-3 col-lg-3">
    <div class="card rounded-3 shadow-sm text-center">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Sessions Played</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title">{{ quick_stats['sessions_played'] }}</h1>
      </div>
    </div>
  </div>
  <div class="col-12 pb-3 col-lg-3">
    <div class="card rounded-3 shadow-sm text-center">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Steps Taken</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title">{{ quick_stats['steps_taken'] }}</h1>
      </div>
    </div>
  </div>
  <div class="col-12 pb-3 col-lg-3">
    <div class="card rounded-3 shadow-sm text-center">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Mobs Killed</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title">{{ quick_stats['mobs_killed'] }}</h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}